{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="SportsZone is an HTML5/CSS3 eCommerce template that is best for Sports Items/Tools, any kind of stores Like Sports Store, Bike and Cycle Parts, Hardware, Toos, Construction Item."/>
	<meta property="og:title" content="SportsZone - Sports Template"/>
	<meta property="og:description" content="SportsZone is an HTML5/CSS3 eCommerce template that is best for Sports Items/Tools, any kind of stores Like Sports Store, Bike and Cycle Parts, Hardware, Toos, Construction Item." />
	<meta property="og:image" content="http://sportszone.dexignlab.com/xhtml/social-image.png" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- Favicons Icon -->
	<link rel="icon" href="https://www.pngitem.com/pimgs/m/614-6144568_football-player-vector-graphics-clip-art-illustration-football.png" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="" />
	
	<!-- Page Title Here -->
	<title>NoBeJujuBeThis - Sports Bet Tips</title>

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'main_app/css/plugins.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main_app/css/style.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main_app/css/hover.css' %}">
	<link rel="stylesheet" type="text/css" class="skin" href="{% static 'main_app/css/skin/skin-1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main_app/css/templete.min.css' %}">

	<!-- Revolution Slider Css -->
	<link rel="stylesheet" type="text/css" href="{% static 'main_app/plugins/revolution/revolution/css/settings.css' %}">
	
	<!-- Revolution Navigation Style -->
	<link rel="stylesheet" type="text/css" href="{% static 'main_app/plugins/revolution/revolution/css/navigation.css' %}">
		
</head>
<body id="bg">
<div class="page-wraper">
		<!-- header -->
		<header class="site-header header-style-7 dark mo-left">
			<!-- top bar -->
			<div class="top-bar">
				<div class="container">
					<div class="row justify-content-between">
						<div class="dez-topbar-left">
							<ul class="social-line text-center pull-right">
								<li><a href="tel:08129859405"><i class="fa fa-phone"></i> <span>+234 8129 8594 05</span> </a></li>
								<li><a href="mailto:contact@nobejujubethis.com"><i class="fa fa-clock-o"></i> <span>contact@nobejujubethis.com</span></a></li>
							</ul>
						</div>                        
						<div class="dez-topbar-right">
							<ul class="social-line text-center pull-right">
								<li><a href="tel:08129859405" class="fa fa-phone"></a></li>
								<li><a href="https://twitter.com/nobejujubethis.com/" class="fa fa-twitter"></a></li>
								<li><a href="mailto:contact@nobejujubethis.com" class="fa fa-google-plus"></a></li>
								{% if user.is_authenticated %}
								<li><a href="/logout/" class="fa fa-lock" onclick="return confirm('Your session would be terminated.\n\nProceed?')"></a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- top bar END-->
			
			<!-- main header -->
			<div class=" sticky-header main-bar-wraper navbar-expand-lg  navbar-expand-lg" style="background-color:black;">
				<div class="main-bar clearfix " style="background-color:black;">
					<div class="container clearfix" style="background-color:black;">
						<!-- website logo -->
						<div class="logo-header mostion"><a href="/"><img src="{% static 'main_app/images/20210906_234248.jpg' %}" alt=""></a></div>
						<!-- nav toggle button -->
						<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<!-- extra nav -->
						<div class="extra-nav">
							<div class="extra-cell">
								<button id="quik-search-btn" type="button" class="site-button"><i class="fa fa-search"></i></button>
							</div>
						</div>
						<!-- Quik search -->
						<div class="dez-quik-search bg-primary ">
							<form action="#">
								<input name="search" value="" type="text" class="form-control" placeholder="Type to search">
								<span  id="quik-search-remove"><i class="fa fa-remove"></i></span>
							</form>
						</div>
						<!-- main nav -->

						<div class="header-nav navbar-collapse collapse nav-dark justify-content-end"  id="navbarNavDropdown">
							<ul class=" nav navbar-nav">
								{% url 'index' as index %}
								<li class="{% if index == request.path %} active {% endif %}"> <a href="{{ index }}">Home</a></li>
								{% url 'about' as about %}
								<li class="{% if about == request.path %} active {% endif %}"> <a href="{{ about }}">About Us</a></li>
								{% url 'faq' as faq %}

								{% url 'livescores' as livescores %}
								<li class="{% if livescores == request.path %} active {% endif %}"> <a href="{{ livescores }}">Livescores
								</a></li>

								<li class="{% if faq == request.path %} active {% endif %}"> <a href="{{ faq }}">FAQs</a></li>
								{% url 'contact' as contact %}
								<li class="{% if contact == request.path %} active {% endif %}"> <a href="{{ contact }}">Contact
								</a></li>
								
								{% url 'subscribe' as subscribe %}
								<li class="{% if subscribe == request.path %} active {% endif %}"> <a href="{{ subscribe }}">Subscribe</a></li>
								
								{% url 'vip_game' as vip_game %}
								<li class="{% if vip_game == request.path %} active {% endif %}"> <a href="{{ vip_game }}">Vip Games</a></li>

								{% url 'policy' as policy %}
								<li class="{% if policy == request.path %} active {% endif %}"> <a href="{{ policy }}">Privacy Policy</a></li>


								{% if request.user.is_superuser %}
								{% url 'boss' as boss %}
									<li class="{% if boss == request.path %} active {% endif %}"> <a href="{{ boss }}">Admin Page</a></li>
								{% else %}

								{% endif %}
								
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- main header END -->
		</header>
		<!-- header END -->

		{% block content %}

		{% endblock %} 

		 <!-- Footer -->
	    <!-- Footer -->
	<footer class="site-footer footer-overlay bg-img-fix" style="background-image: url({% static 'main_app/images/background/AWTmJtE.jpg' %}); background-position: center bottom; background-size: cover; display: block;">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 footer-col-4">
                        <form role="search" method="post" action="script/mailchamp.php" class="dzSubscribe bg-primary p-a20 text-white m-t15">
							<h2 class="m-tb0 font-40">Subscribe</h2>
							<p>subscribe for our newsletter.</p>
							<div class="m-tb15">
								<ul class="dez-social-icon border dez-social-icon-lg">
									<li><a href="javascript:void(0);" class="fa fa-facebook fb-btn"></a></li>
									<li><a href="javascript:void(0);" class="fa fa-twitter tw-btn"></a></li>
									<li><a href="javascript:void(0);" class="fa fa-linkedin link-btn"></a></li>
									<li><a href="javascript:void(0);" class="fa fa-pinterest-p pin-btn"></a></li>
								</ul>
							</div>
							<br>
							<div class="m-b15">
								<div class="dzSubscribeMsg"></div>
								<input name="dzEmail" required="required" class="form-control" placeholder="Email Adddres" type="email">
							</div>
							<div class="">
								<input  name="submit" value="Submit" type="submit" class="site-button button-3d gray btn-block">
							</div>
						</form>

                    </div>
                    <div class="col-lg-3 col-sm-6 footer-col-4">
                        <div class="widget widget_services">
                            <h4 class="m-b15 text-uppercase">About Us</h4>
                            <div class="dez-separator bg-primary"></div>
                            <ul>
                                
                                <li><a href="/policy/">Privacy Policy</a></li>
                                <li><a href="/about/">About Us</a></li>
                                <li><a href="/contact/">Contact Us</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-col-4">
                        <div class="widget widget_services">
                            <h4 class="m-b15 text-uppercase">Our services</h4>
                            <div class="dez-separator bg-primary"></div>
                            <ul>
                                <li><a href="/vip/">Vip</a></li>
                                <li><a href="/policy/">Privacy Policy</a></li> 
                                <li><a href="/subscribe/">Subscribe</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-lg-3 col-sm-6 footer-col-4">
						<div class="widget widget_gallery">
							<h4 class="m-b15 text-uppercase">PHOTOS FROM ADS</h4>
							<div class="dez-separator bg-primary"></div>
							<ul>{% for rs in footer %}
								<li class="img-effect2"> <a href="{{ rs.link }}"><img src="{{ rs.image.url }}" alt=""></a> </li>
								
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-left"> <span>© Copyright 2021</span> </div>
					<div class="col-lg-4 text-center"> <span> Design With <i class="fa fa-heart text-red heart"></i> By Oppenhiem </span> </div>
					<div class="col-lg-4 text-right "> <a href="about-2.html"> About</a> <a href="help.html"> Help Desk</a> <a href="privacy-policy.html"> Privacy Policy</a> </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <!-- scroll top button -->
    <button class="scroltop fa fa-caret-up" ></button>
</div>
<div id="loading-area"></div>
<!-- JavaScript  files ========================================= -->
<script src="{% static 'main_app/js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'main_app/plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'main_app/plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'main_app/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'main_app/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'main_app/plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'main_app/plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'main_app/plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'main_app/plugins/countdown/jquery.countdown.js' %}"></script><!-- COUNTDOWN JS -->
<script src="{% static 'main_app/plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'main_app/plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'main_app/plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'main_app/plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'main_app/js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->

<script src="{% static 'main_app/js/custom.min.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'main_app/js/dz.carousel.min.js' %}"></script><!-- SORTCODE FUCTIONS  -->
<!-- revolution JS FILES -->
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main_app/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script type="text/javascript"  src="{% static 'main_app/js/rev.slider.js' %}"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	'use strict';
	dz_rev_slider_2();
});	/*ready*/
</script>

</body>
</html>
