{% extends 'main_app/admin_base.html' %}

{% load static %}
{% block content %}
<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Messages</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Messages</li>
							</ol>
						</nav>
					</div>
					
				</div>
				<!--end breadcrumb-->
				<div class="">
					<div class="">
						<div class="container py-2">
							<h2 class="font-weight-light text-center text-white py-3">Messages From Users</h2>
							<!-- timeline item 1 -->
							{% for rs in recieved %}
							<div class="row">
								<!-- timeline item 1 left dot -->
								<div class="col-auto text-center flex-column d-none d-sm-flex">
									<div class="row h-50">
										<div class="col">&nbsp;</div>
										<div class="col">&nbsp;</div>
									</div>
									<h5 class="m-2">
									<span class="badge rounded-pill bg-light border">&nbsp;</span>
								</h5>
									<div class="row h-50">
										<div class="col border-end">&nbsp;</div>
										<div class="col">&nbsp;</div>
									</div>
								</div>
								<!-- timeline item 1 event content -->
								<div class="col py-2">
									<div class="card radius-15">
										<div class="card-body">
											<div class="float-end">{{ rs.create_at }}</div>
											<h4 class="card-title text-white">{{ rs.name }}</h4>
											<p class="card-text">{{ rs.message }}</p>
											Email: <a href="mailto:{{ rs.email }}">{{ rs.email }}</a> <span>Phone <a href="tel:{{rs.phone}}"> {{ rs.phone }}</a></span>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							
							</div>
							<!--/row-->
							
							
						</div>
						<!--container-->

						
						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
{% endblock %}