{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}
		
	</header>
	<!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(https://besthqwallpapers.com/Uploads/12-2-2020/121680/thumb2-neymar-psg-brazilian-soccer-player-portrait-blue-stone-background.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Frequency Asked Questions</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li>FAQs</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="section-full content-inner bg-white">
            <!-- Faq -->
            <div class="container">
				<div class="row">
					<div class="col-md-6 m-b30">
						<h2 class="m-b10 m-t0">General Questions</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
						<div class="accordion space" id="accordion1">
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#collapseOne1">
											<i class="fa fa-question-circle"></i> What is NoBeJujuBeThis.com?
										</a> 
									</h6>
								</div>
								<div id="collapseOne1" class="acod-body collapse show" data-parent="#accordion1">
									<div class="acod-content">We offer a soccer tips service that is intended for people who are determined to change their future and want to start investing in football betting. We are a professional team of experts who work hard every day to make sure your goals are met.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#collapseTwo1" class="collapsed">
											<i class="fa fa-question-circle"></i> What do you base your predictions on?
										</a> 
									</h6>
								</div>
								<div id="collapseTwo1" class="acod-body collapse" data-parent="#accordion1">
									<div class="acod-content">We have a special SQL software that was produced by our developers. Currently we are the only tipster service providing AI analysis of this kind. The combination of the software and our long-standing knowledge and experience in the sphere form our confident predictions.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#collapseThree1" class="collapsed">
											<i class="fa fa-question-circle"></i> How do I buy your Tips?
										</a> 
									</h6>
								</div>
								<div id="collapseThree1" class="acod-body collapse" data-parent="#accordion1">
									<div class="acod-content">We work with the safest and easiest to use payment methods - PayPal and Crypto. If you are using a PayPal, just click the Buy Now button on the banner that matches your service. If you use If you use Bank Transfer, please contact us here. If you want to pay with Crypto currency, contact us here.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#collapseFor1" class="collapsed">
											<i class="fa fa-question-circle"></i> Do you offer free Tips?
										</a> 
									</h6>
								</div>
								<div id="collapseFor1" class="acod-body collapse" data-parent="#accordion1">
									<div class="acod-content">Yes, we do, but exclusively to our regular customers. We do not offer free test tips. Our experience in the field shows that 99% of people who want to opt for a free tip simply want to exploit the option and are not intending to pay for our services in the long run. If you are already a regular client, you will most likely receive free tips in the days when we find the most secure matches.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#collapseFive1" class="collapsed">
											<i class="fa fa-question-circle"></i> Do you offer discounts?
										</a> 
									</h6>
								</div>
								<div id="collapseFive1" class="acod-body collapse" data-parent="#accordion1">
									<div class="acod-content">Yes, of course we do, but they are tailored for our regular and loyal customers. If we have periodic discounts that apply to all users, you will see the details announced on the main page of our website.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 m-b30">
						<h2 class="m-b10 m-t0">Popular articles</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
						<div class="accordion space" id="accordion2">
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#collapseOne2">
											<i class="fa fa-question-circle"></i> I have paid for a Tip, when I am receiving it?
										</a> 
									</h6>
								</div>
								<div id="collapseOne2" class="acod-body collapse show" data-parent="#accordion2">
									<div class="acod-content">We will contact you as soon as we receive a payment notification from the payment service you have used to complete the transaction. We strive to send our customers the tips early in the morning, at least 3 hours before the event.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#collapseTwo2" class="collapsed">
											<i class="fa fa-question-circle"></i> What kind of bets do you provide with your Tips?
										</a> 
									</h6>
								</div>
								<div id="collapseTwo2" class="acod-body collapse" data-parent="#accordion2">
									<div class="acod-content">1x2, Under/Over, Asian Handicap.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#collapseThree2" class="collapsed">
											<i class="fa fa-question-circle"></i> Do you offer tennis, hockey, bascetball, horse racing and other Tips?
										</a> 
									</h6>
								</div>
								<div id="collapseThree2" class="acod-body collapse" data-parent="#accordion2">
									<div class="acod-content">No, our system is related exclusively to football matches.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#collapseFor2" class="collapsed">
											<i class="fa fa-question-circle"></i> New Tip replaces the originally sent Tip, Why?
										</a> 
									</h6>
								</div>
								<div id="collapseFor2" class="acod-body collapse" data-parent="#accordion2">
									<div class="acod-content">This happens in the rare cases when we receive reliable information hours or two before the match. In cases where the odds are rising rapidly, we are trying to investigate what this is all about and eventually decide to change the Tip as soon as possible.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#collapseFive2" class="collapsed">
											<i class="fa fa-question-circle"></i> Which leagues do you offer tips for most often?
										</a> 
									</h6>
								</div>
								<div id="collapseFive2" class="acod-body collapse" data-parent="#accordion2">
									<div class="acod-content">We tend to favor the biggest European leagues, since we can do the most profound analysis for them.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
            <!-- Faq END -->
        </div>
        <!-- contact area  END -->
    </div>
    <!-- Content END-->
{% endblock %}
