{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}

<body class="hold-transition login-page" style="background-color: #0e1326">
<style type="text/css">
    
    .alert{
        box-shadow: 5px 5px 10px #111;
        border: none;
    }
    @keyframes show-toast {
    0%   {bottom: -100%;}
    20%  {bottom: 50px;}
    80%  {bottom: 50px;}
    100% {bottom: -50%;}
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 10s;
}
@media(max-width: 450px) {
    h3{
      font-size: 15px !important;
    }
  }
</style>
{% if messages %}
    {% for message in messages %}
        <div class="notification is-toast alert alert-{{message.tags}} text-center" role="alert" style="background-color: #1DB954; color: #fff; border-radius: 6px; font-weight: 600; z-index: 1;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
		<!-- Content -->
		<div class="page-content">
		<!-- Slider -->
		<div class="main-slider style-two default-banner">
			<div class="tp-banner-container">
				<div class="tp-banner" >
					<div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery36" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
						<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
						<div id="slider_02" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
							<ul>	
								<!-- SLIDE -->
								<li data-index="rs-100" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://besthqwallpapers.com/Uploads/26-6-2018/57010/thumb2-4k-wilfred-ndidi-abstract-art-nigeria-national-team-fan-art.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
									<!-- MAIN IMAGE -->
									<img src="https://besthqwallpapers.com/Uploads/26-6-2018/57010/thumb2-4k-wilfred-ndidi-abstract-art-nigeria-national-team-fan-art.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme" 
										id="slide-100-layer-1" 
										data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
										data-y="['top','top','top','top']" data-voffset="['200','200','200','200']"
										data-fontsize="['40','35','20','20']"
										data-lineheight="['45','40','25','25']"
										data-width="['800','800','800','420']"											
										data-height="none"
										data-whitespace="nowrap"
										data-type="text" 
										data-responsive_offset="on" 
										data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":3700,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										data-textAlign="['left','left','left','left']"
										data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]"
										data-paddingbottom="[0,0,0,0]"
										data-paddingleft="[0,0,0,0]"
										style="z-index: 7; white-space: nowrap;text-transform:left; font-family:Oswald; font-weight:600;">NoBeJujuBeThis
									</div>
									
									<!-- LAYER NR. 2 -->
									<div class="tp-caption Newspaper-Title   tp-resizeme" 
										id="slide-100-layer-2" 
										data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
										data-y="['top','top','top','top']" data-voffset="['250','350','230','230']" 
										data-fontsize="['80','80','50','30']"
										data-lineheight="['85','85','55','35']"
										data-width="['1000','1000','1000','420']"
										data-height="none"
										data-whitespace="normal"								 
										data-type="text" 
										data-responsive_offset="on" 
										data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										data-textAlign="['left','left','left','left']"
										data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]"
										data-paddingbottom="[10,10,10,10]"
										data-paddingleft="[0,0,0,0]"
										style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:Oswald; color:#fff;">Accurate Betting <span class="text-primary">Tips</span>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption Newspaper-Title tp-resizeme" 
										id="slide-100-layer-3" 
										data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
										data-y="['top','top','top','top']" data-voffset="['350','450','300','280']" 
										data-fontsize="['16','15','14','14']"
										data-lineheight="['26','25','24','24']"
										data-width="['700','600','600','420']"
										data-height="none"
										data-whitespace="normal"								 
										data-type="text" 
										data-responsive_offset="on" 
										data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":2750,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										data-textAlign="['left','left','left','left']"
										data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]"
										data-paddingbottom="[10,10,10,10]"
										data-paddingleft="[0,0,0,0]"
										style="z-index: 6; white-space: normal;text-transform:left; line-height:80px; color:#fff; font-family:roboto">Welcome to NobejujuBeThis! You have made the first step to successful soccer betting - Take a look around, find out who we are, what we stand for and what results from we bring in.
										And if you feel ready - LET'S START THE JUJU.
									</div>

									<!-- LAYER NR. 4 -->
									<div class="tp-caption" 
										id="slide-100-layer-4" 
										data-x="['left','left','left','left']" data-hoffset="['53','53','50','30']" 
										data-y="['top','top','top','top']" data-voffset="['450','550','400','410']" 
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-responsive_offset="on" 
										data-responsive="off"
										data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":3000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										data-textAlign="['left','left','left','left']"
										data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]"
										data-paddingbottom="[0,0,0,0]"
										data-paddingleft="[0,0,0,0]"
										style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
										<a href="/about/" class="site-button m-r15">About Us </a>										
									</div> 
									
									<div class="tp-caption" 
										id="slide-100-layer-5" 
										data-x="['left','left','left','left']" data-hoffset="['200','200','200','180']" 
										data-y="['top','top','top','top']" data-voffset="['450','550','400','410']" 
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-responsive_offset="on" 
										data-responsive="off"
										data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":3000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										data-textAlign="['left','left','left','left']"
										data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]"
										data-paddingbottom="[0,0,0,0]"
										data-paddingleft="[0,0,0,0]"
										style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
										<a href="/contact/" class="site-button ">Contact Us</a>										
									</div> 
								</li>
								<!-- SLIDE -->
								<!-- SLIDE 2 -->
								<li data-index="rs-200" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="{% static 'main_app/images/background/wp6871963.jpg' %}"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
									<!-- MAIN IMAGE -->
									<img src="{% static 'main_app/images/background/wp6871963.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme" 
										id="slide-200-layer-1" 
										data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
										data-y="['top','top','top','top']" data-voffset="['200','200','200','200']"
										data-fontsize="['40','35','20','20']"
										data-lineheight="['45','40','25','25']"
										data-width="['800','800','800','420']"
										data-height="none"
										data-whitespace="nowrap"
										data-type="text" 
										data-responsive_offset="on" 
										data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
										data-textAlign="['left','left','left','left']"
										data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]"
										data-paddingbottom="[0,0,0,0]"
										data-paddingleft="[0,0,0,0]"

										style="z-index: 7; white-space: nowrap;text-transform:left; font-family:Oswald; font-weight:600;">VIP GAMES
									</div>
									
									<!-- LAYER NR. 2 -->
									<div class="tp-caption Newspaper-Title   tp-resizeme" 
										id="slide-200-layer-2" 
										data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
										data-y="['top','top','top','top']" data-voffset="['250','350','230','230']" 
										data-fontsize="['80','80','50','30']"
										data-lineheight="['85','85','55','35']"
										data-width="['1000','1000','1000','420']"
										data-height="none"
										data-whitespace="normal"
										data-type="text" 
										data-responsive_offset="on" 
										data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
										data-textAlign="['left','left','left','left']"
										data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]"
										data-paddingbottom="[10,10,10,10]"
										data-paddingleft="[0,0,0,0]"
										style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:Oswald; color:#fff;" class="text-primary"><span class="text-primary">At your finger Tips</span>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption Newspaper-Title   tp-resizeme" 
										id="slide-200-layer-3" 
										data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
										data-y="['top','top','top','top']" data-voffset="['350','450','300','280']"
										data-fontsize="['16','15','14','14']"
										data-lineheight="['26','25','24','24']"
										data-width="['700','600','600','420']"
										data-height="none"
										data-whitespace="normal"
										data-type="text" 
										data-responsive_offset="on" 
										data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
										data-textAlign="['left','left','left','left']"
										data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]"
										data-paddingbottom="[10,10,10,10]"
										data-paddingleft="[0,0,0,0]"
										style="z-index: 6; white-space: normal;text-transform:left; line-height:80px; color:#fff; font-family:roboto">Stop wasting your time with fake and cheap sites! It is time to start investing using the advises of real professionals, who work hard day after day to make your efforts profitable!.
									</div>

									<!-- LAYER NR. 4 -->
									<div class="tp-caption" 
										id="slide-200-layer-4" 
										data-x="['left','left','left','left']" data-hoffset="['53','53','50','30']" 
										data-y="['top','top','top','top']" data-voffset="['450','550','400','410']"
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-responsive_offset="on" 
										data-responsive="off"
										data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
										data-textAlign="['left','left','left','left']"
										data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]"
										data-paddingbottom="[0,0,0,0]"
										data-paddingleft="[0,0,0,0]"
										style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
										<a href="/subscribe/" class="site-button m-r15">Subscribe </a>										
									</div> 
									
									<div class="tp-caption" 
										id="slide-200-layer-5" 
										data-x="['left','left','left','left']" data-hoffset="['200','200','200','180']" 
										data-y="['top','top','top','top']" data-voffset="['450','550','400','410']" 
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-responsive_offset="on" 
										data-responsive="off"
										data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
										data-textAlign="['left','left','left','left']"
										data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]"
										data-paddingbottom="[0,0,0,0]"
										data-paddingleft="[0,0,0,0]"
										style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
										<a href="/signin/" class="site-button ">Vip</a>										
									</div> 
								</li>
								<!-- SLIDE 2 -->
							</ul>
						</div>
					</div><!-- END REVOLUTION SLIDER -->
				</div>
			</div>
		</div>
        <!-- Slider END -->
		<!-- Next Match -->
		<div class="row bg-gray-middle m-lr0" style="background-image: url({% static 'main_app/images/background/8cf093d06bb060ff91770fcec13d2e32.jpg' %}); background-position:right top -50px; background-size: 52% auto;">
			<div class="col-lg-6 bg-primary p-tb30 text-center ">
				<h2 class="m-a0 m-b15 text-black">Comming Soon</h2>
				<div class="countdown dez-style-3 text-center m-b10">
					<div class="date">
						<span class="time days"></span>
						<span class="time-counting">Days</span>
					</div>
					<div class="date">
						<span class="time hours"></span>
						<span class="time-counting">Hours</span>
					</div>
					<div class="date">
						<span class="time mins"></span>
						<span class="time-counting">Minutes</span>
					</div>
					<div class="date">
						<span class="time secs"></span>
						<span class="time-counting">Second</span>
					</div>
				</div>
				<div class="text-black text-center">
					<span class="font-18">Games will be available soon</span>
				</div>
			</div>
			
			<div class="col-lg-6 p-tb30" >
				<div class="row team-compact clearfix">
					<div class="col-6 text-white text-center dez-vs-team">
						<span class="team-logo"><img width="150" height="150" src="{% static 'main_app/images/sports-logo/logo2.png' %}" alt=""/></span>
						<span class="font-18 team-name">Footbal Team</span>
					</div>
					<div class="col-6 text-white text-center">
						<span class="team-logo"><img width="150" height="150" src="{% static 'main_app/images/sports-logo/logo3.png' %}" alt=""/></span>
						<span class="font-18 team-name">Footbal Team</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Next Match -->
        <!-- Latest Result -->
        <div class="section-full bg-gray-dark transparent content-inner bg-img-fix overlay-black-middle" style="background-image:url(https://cdn.wallpapersafari.com/89/81/EdmCzW.jpg); background-position:center;">
			<div class="container">
				<div class="row ">
					<!-- Center Section -->
					<div class="col-sm-12 col-lg-8 col-12">
						<!-- Latest Match -->
						
						
						<!-- Match Overview -->
						<div class="dez-card">
							<div class="dez-head-bx skew-triangle right-top m-a-out">
								<h3 class="text-white m-a0">Todays Odds</h3>
							</div>
							<table class="table table-bordered  border-light dez-score-table bg-white"> 
								<thead> 
									<tr class=""> 
										<th>C</th> 
										<th>Team</th> 
										<th>Time</th> 
										<th>Tip</th> 
										<th>Odds</th> 
									</tr> 
								</thead> 
								<tbody> 
									<tr> 
										<th scope="row">1</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo1.png' %}" alt=""/></span>Liverpool vs Chelsea <span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo2.png' %}" alt=""/></span></td> 
										<td>1:30pm</td> 
										<td>4 - 6 Goals</td> 
										<td>2.54</td> 
									</tr>
									<tr> 
										<th scope="row">2</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo1.png' %}" alt=""/></span>Anton Villa vs Norwich <span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo2.png' %}" alt=""/></span></td> 
										<td>3:30pm</td> 
										<td>Under 5 Goals</td> 
										<td>4.44</td> 
									</tr>
									<tr> 
										<th scope="row">2</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo1.png' %}" alt=""/></span>Anton Villa vs Norwich <span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo2.png' %}" alt=""/></span></td> 
										<td>3:30pm</td> 
										<td>Under 5 Goals</td> 
										<td>4.44</td>  
									</tr>
									<tr> 
										<th scope="row">2</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo1.png' %}" alt=""/></span>Anton Villa vs Norwich <span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo2.png' %}" alt=""/></span></td> 
										<td>3:30pm</td> 
										<td>Under 5 Goals</td> 
										<td>4.44</td>  
									</tr>
									<tr> 
										<th scope="row">2</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo1.png' %}" alt=""/></span>Anton Villa vs Norwich <span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo2.png' %}" alt=""/></span></td> 
										<td>3:30pm</td> 
										<td>Under 5 Goals</td> 
										<td>4.44</td>  
									</tr>
									<tr> 
										<th scope="row">2</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo1.png' %}" alt=""/></span>Anton Villa vs Norwich <span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo2.png' %}" alt=""/></span></td> 
										<td>3:30pm</td> 
										<td>Under 5 Goals</td> 
										<td>4.44</td> 
									</tr>
									<tr> 
										<th scope="row">2</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo1.png' %}" alt=""/></span>Anton Villa vs Norwich <span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo2.png' %}" alt=""/></span></td> 
										<td>3:30pm</td> 
										<td>Under 5 Goals</td> 
										<td>4.44</td> 
									</tr>
									<tr> 
										<th scope="row">2</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo1.png' %}" alt=""/></span>Anton Villa vs Norwich <span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo2.png' %}" alt=""/></span></td> 
										<td>3:30pm</td> 
										<td>Under 5 Goals</td> 
										<td>4.44</td> 
									</tr>
								</tbody> 
							</table>
						</div>

						<!-- Latest Match End -->
						<!-- Latest Blog -->
						<div class="dez-head-bx skew-triangle right-top m-a-out m-b20">
							<h3 class="text-white m-a0">Ads Placement</h3>
						</div>
						
						<div class="row col-set-block">
							{% for rs in ads %}
							<div class="col-lg-6 col-sm-6 m-b20"><a href="{{ rs.link }}">
								<div class="dez-media dez-img-overlay9"><img width="600" height="350" src="{{ rs.image.url }}" alt=""/></div>
							</div>	
							{% endfor %}
							
						</div>

						<div class="dez-live-match text-white">
							<div class="m-b20 blog-grid date-style-2">
								{% for rs in big %}
								<div class="dez-post-media dez-img-effect zoom-slow"> 
									<img width="960" height="342" src="{{ rs.image.url }}" alt=""/>
								</div>
								{% endfor %}
								{% for rs in sent %}
								<div class="dez-post-info border-1 p-a20 border-light bg-gray-middle">
									<div class="dez-post-title ">
										<h3 class="m-t0 m-b10"><a href="#" class="text-white">{{ rs.title }}</a></h3>
									</div>
									<div class="dez-post-meta ">
										<ul>
											<li class=""> <i class="fa fa-calendar"></i><strong>{{ rs.create_at }}</strong> </li>
											<li class="post-author"><i class="fa fa-user"></i>By <a href="#">OJ</a> </li>
											<li class="post-comment"><i class="fa fa-comments"></i> <a href="#">CEO</a> </li>
										</ul>
									</div>
									<div class="dez-post-text">
										
										<p>{{ rs.message }}
										</p>
										
									</div>
									
									
								</div>
								{% endfor %}
							</div>
							
						
						<!-- Latest Match End -->
							<div class="blog-post blog-md clearfix bg-gray-middle  border-1 border-light p-a15">
								
								<div class="dez-post-info text-white">

									<div class="dez-post-title ">
										<h3 class="m-t5"><a href="#" class="text-white">Tearms and Conditions</a></h3>
									</div>
									<div class="dez-post-meta ">
										
									</div>
									
									<div class="dez-post-text">
										<p>Please read our terms and conditions of service before using the Nobejujubethis.com website.
										The visitor / user of the pages of the website is considered to visit / use the pages / services of the site only if it fully accepts the following terms:</p>
									</div>
									
									<div class="dez-post-readmore"> <a href="/policy" title="READ MORE" rel="bookmark" class="site-button-link">PROCEED<i class="fa fa-angle-double-right"></i></a> </div>
									
								</div>
							</div>
						</div>
						<!-- Latest Blog END -->
						
					</div>
					<!-- Right Section -->
					<div class="col-sm-12 col-lg-4 col-12">
						<!-- Match Overview -->
						<div class="dez-card">
							<div class="dez-head-bx skew-triangle right-top m-a-out">
								<h3 class="text-white m-a0">Premier League Standings</h3>
							</div>
							<table class="table table-bordered bg-gray-middle border-light text-white dez-score-table"> 
								<thead> 
									<tr class="table-headding"> 
										<th>#</th> 
										<th>Team</th> 
										<th>P</th> 
										<th>W</th> 
										<th>L</th> 
									</tr> 
								</thead>
								
								<tbody> 
									<tr> 

										<th scope="row">1</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo1.png' %}" alt=""/></span>Liverpool</td> 
										<td>10</td> 
										<td>12</td> 
										<td>08</td> 
									</tr>
								
									<tr> 
										<th scope="row">2</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo2.png' %}" alt=""/></span>Chelsea</td> 
										<td>10</td> 
										<td>12</td> 
										<td>08</td> 
									</tr>
									<tr> 
										<th scope="row">3</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo3.png' %}" alt=""/></span> Norwich City</td> 
										<td>10</td> 
										<td>12</td> 
										<td>08</td> 
									</tr>
									<tr> 
										<th scope="row">4</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo1.png' %}" alt=""/></span>West Brom</td> 
										<td>10</td> 
										<td>12</td> 
										<td>08</td> 
									</tr>
									<tr> 
										<th scope="row">5</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo2.png' %}" alt=""/></span>sunderland</td> 
										<td>10</td> 
										<td>12</td> 
										<td>08</td> 
									</tr>
									<tr> 
										<th scope="row">6</th> 
										<td><span class="team-thumb"><img width="30" height="30" src="{% static 'main_app/images/sports-logo/small/logo3.png' %}" alt=""/></span>Chelsea</td> 
										<td>10</td> 
										<td>12</td> 
										<td>08</td> 
									</tr>
								</tbody> 
							</table>
						</div>
						<!-- Match Overview END -->
						
						<div class="row">
						<!-- Recent Posts -->
						<div class="dez-card col-lg-12 col-sm-6">
							<div class="dez-head-bx skew-triangle right-top m-a-out">
								<h3 class="text-white m-a0">Recent VIP Games</h3>
							</div>
							<div class="home-dez widget recent-posts-entry bg-gray-middle p-a20 border-1 border-light">
								
								<div class="widget-post-bx text-white">
									{% for rs in games %}
									<div class="widget-post clearfix">
										
										<div class="dez-post-info">
											<div class="dez-post-header">
												<h6 class="post-title" style="color: #fff">{% if rs.result == "LOST"  %}  {{ rs.home_team }} vs {{ rs.away_team }} - {{ rs.odds }}  <img height="30px" width="30px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSceOd4YLjKr-U9RzqjCW5yZhRBIYAcr7Dhg&usqp=CAU"> - {{ rs.create_at }} {% elif rs.result == "WON" %} {{ rs.home_team }} vs {{ rs.away_team }} - {{ rs.odds }} <img height="30px" width="30px" src="https://www.freeiconspng.com/thumbs/yes-png/green-yes-check-mark-png-17.png"> - {{ rs.create_at }}{% else %} {% endif %} </a></h6>
											</div>
											
										</div>
									</div>
									{% endfor %}
									
								</div>
							</div>
						<!-- Recent Posts END -->
						<!-- Ads -->
						
						<div class="add col-lg-12 col-sm-6 m-b30">
							<div class="m-b20">
								{% for rs in side %}
								<div class="dez-media dez-img-overlay9"><a href=""><img src="{{ rs.image.url }}" alt=""/></a></div><br>
								{% endfor %}
								
							</div>
							{% for rs in sides %}
							<img width="492" height="487" src="{{ rs.image.url }}" alt=""/>
							{% endfor %}

						</div>
						
							
						<!-- Ads END -->
						</div>
					
					</div>
				</div>
			</div>
        </div>
        <!-- Latest Result END -->
		
    </div>
			
			</a>
		</div>
	</div>
</div>
</div>
   <!-- Content END-->
   {% endblock %}