{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}
    
  <!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(https://c4.wallpaperflare.com/wallpaper/217/951/788/neymar-wallpaper-preview.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">LiveScores</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li>Livescores</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-area">
            <!-- Portfolio -->
            <div class="container">
                <div class="site-filters clearfix center  m-b40">
                    <ul class="filters" data-toggle="buttons">
                        
                        <li data-filter="home" class="btn">
                            <input type="radio" >
                            <a href="#" class="site-button-secondry"><span>Football LiveScores</span></a> </li>
                        <li data-filter="office" class="btn">
                            <input type="radio">
                            <a href="#" class="site-button-secondry"><span>Live Games</span></a> </li>
                        <li data-filter="commercial" class="btn">
                            <input type="radio">
                            <a href="#" class="site-button-secondry "><span>Basket Ball</span></a> </li>
                        <li data-filter="window" class="btn">
                            <input type="radio">
                            <a href="#" class="site-button-secondry"><span>Tennis</span></a> </li>
                    </ul>
                </div>
                <div class="clearfix">
                    <ul id="masonry" class="row dez-gallery-listing gallery-grid-4 m-b0 mfp-gallery">
                        <li class="card-container col-lg-12 col-sm-6 m-b30 home">
                            <!-- Right Section -->
          <div class="col-sm-12 col-lg-8 col-12 ">
            <!-- Match Overview -->
            <div class="dez-card bg-white">
              <div class="dez-head-bx m-a-out skew-triangle right-top">
                <h3 class="m-a0" style="color: #fff;">Soccer Livescores</h3>
              </div>
              <table class="table table-bordered  border-light dez-score-table bg-white"> 
                <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> International:  CONCACAF League</th> 
                    
                  </tr> 
                </thead> 
                <tbody> 
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> International:  Copa Sudamericana Final Stage</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                  <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> International:  AFC Cup Final Stage</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                  <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> International:  Copa Libertadores Final Stage</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                  <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> England:  Carabao Cup</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                  <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> Spain:  LaLiga</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                  <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> France:  Ligue 1</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>

              </td>

                  </tr>

                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
              
              </td>

                  </tr>
                </tbody> 

                <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> Italy:  Serie A</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>

              </td>

                  </tr>

                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
              
              </td>

                  </tr>
                </tbody>
                <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> Norway:  Cup</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>

              </td>

                  </tr>

                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
              
              </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li class="card-container col-lg-12 col-sm-6 m-b30 office">
                            <!-- Right Section -->
          <div class="col-sm-12 col-lg-8 col-12 ">
            <!-- Match Overview -->
            <div class="dez-card bg-white">
              <div class="dez-head-bx m-a-out skew-triangle right-top">
                <h3 class="m-a0" style="color: #fff;">Soccer Livescores</h3>
              </div>
              <table class="table table-bordered  border-light dez-score-table bg-white"> 
                <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> International:  CONCACAF League</th> 
                    
                  </tr> 
                </thead> 
                <tbody> 
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> International:  Copa Sudamericana Final Stage</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                  <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> International:  AFC Cup Final Stage</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                  <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> International:  Copa Libertadores Final Stage</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                  <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> England:  Carabao Cup</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                  <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> Spain:  LaLiga</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                    <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
                  </tr>
                </tbody>
                  <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> France:  Ligue 1</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>

              </td>

                  </tr>

                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
              
              </td>

                  </tr>
                </tbody> 

                <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> Italy:  Serie A</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>

              </td>

                  </tr>

                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
              
              </td>

                  </tr>
                </tbody>
                <thead> 
                  <tr class=""> 
                    
                    <th style="background-color: gray;"><span ><img width="10" height="10" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span> Norway:  Cup</th> 
                    
                  </tr> 
                </thead> 
                <tbody>
                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>

              </td>

                  </tr>

                  <tr> 
                    
                <td><span class="team-thumb"></span><div class="row next-match-team clearfix m-b30">
                <div class="col-lg-5 col-sm-5 col-4"> 
                  <a href="#" class="pull-right  m-t20">
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag1.jpg' %}"  alt=""/></span>
                    <span>England</span>
                  </a>
                </div>    
                <div class="col-lg-2 col-sm-2 col-4  ">
                  <div class="vs-team bg-primary"><span>VS</span></div>
                </div>
                <div class="col-lg-5 col-sm-5 col-4">
                  <a href="#" class="pull-left m-t20">
                    <span>The Africa</span>
                    <span class="country"><img width="50" height="50" src="{% static 'main_app/images/flag/flag2.jpg' %}"  alt=""/></span>
                  </a>
                </div>
              </div>
              
              </td>

                  </tr>
                </tbody>
              </table>
            </div>

                    </ul>
                </div>
                
            </div>
            <!-- Portfolio END-->
        </div>
        <!-- contact END -->
    </div>
    <!-- Content END-->
    <!-- Footer -->
  
{% endblock %}