{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}
    
  <!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(https://c4.wallpaperflare.com/wallpaper/217/951/788/neymar-wallpaper-preview.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">LiveScores</h1>
                </div>
            </div>
        </div>
       <div class="section-full content-inner">
            <!-- Career -->
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-9 m-b30">
                        <div id="aiscore-free"></div><script language="javascript">document.getElementById("aiscore-free").innerHTML="<iframe src='https://www.aiscore.com?width=1200&theme=red'  height='100%' width='1200' scrolling='auto' border='0' frameborder='0'></iframe>";</script><style>body{margin:0}#aiscore-free{display:flex;justify-content:center;margin-bottom: 5px; height:100vh}</style>
                       
                    </div>
                    <!-- Left part start END -->
                    <!-- Right part start -->
                    <div class="col-lg-3 m-b30">
                        

                        
                        
                        <iframe src="https://www.scoreaxis.com/widget/standings-widget/384?columns=1%2C1%2C1%2C1%2C1%2C1%2C1%2C0%2C1&tabs=1&header=1&bg=%23FFFFFF&color=%23313934&headerBg=%23fbda37&bodyBackground=%230d0d0d&textColor=%23f4f5f5&borderColor=%23f8f130&headerColor=%230a0a0a&group=" width="100%" height="537" style="border: none;"></iframe>
                        
                       <iframe src="https://www.scoreaxis.com/widget/standings-widget/82?columns=1%2C1%2C1%2C1%2C1%2C1%2C1%2C0%2C1&tabs=1&header=1&bg=%23FFFFFF&color=%23313934&headerBg=%23fbda37&bodyBackground=%230d0d0d&textColor=%23f4f5f5&borderColor=%23f8f130&headerColor=%230a0a0a&group=" width="100%" height="491" style="border: none;"></iframe>
                    </div>
                    <!-- Right part start END -->
                </div>
            </div>
            <!-- Career END -->
        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->
  
{% endblock %}