{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}		
	</header>
	<!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url({% static 'main_app/images/background/GettyImages-493454494.0.jpg' %});">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Privacy Policy</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="section-full content-inner">
            <!-- Career -->
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-9 m-b30">
                        <h1 class="m-b20 m-t0">Welcome to NobeJujuBeThis's Privacy Policy </h1>
                        <div class="dez-separator bg-primary"></div>
                        <p><strong>Please read the following terms and conditions of service before using the Nobejujubethis.com website.<br>
                        The visitor / user of the pages of the website is considered to visit / use the pages / services of the site only if it fully accepts the following terms: </strong></p>
                        <h2 class="m-t30 m-b10 ">Quick Facts</h2>
                        <p> All of our ling-time subscribers following the classic NoBeJujuBeThis.com Twitter page know that we are some of the most persistent, most active tipsters, who posses the widest range of knowledge in the betting industry. Most of us have permanent jobs as analysts and traders at some of the largest betting companies today.</p>
                        <p>This year, we decided to expand and widespread our work by starting this super transparent and easy to use website. With NoBeJujuBeThis.com we want to maximize our revenue but also to give you - our clients, a head start into the world of online betting investments. </p>
                        <h3>Guarantees </h3>
                        <ul class="list-check-circle primary">
                            <li> We at NoBeJujuBeThis.com have always cared about our customers and we are 100% loyal to them at all times. The first  and most important rule in our team is that the customer comes first and foremost</li>
                            <li>Transparency is of paramount importance to us. It’s the reason why we don’t have an ordinary archive like the other betting platforms and manipulable sites. We upload screenshots from our personal betting account at bet365. This is how we show our future customers that they can trust us completely. We take the same risks. Which is not the case with all other scam sites, with fake archives and no real bets placed.
                            </li>
                            
                        </ul>
                        <h2 class="m-t30 m-b10 ">Policy</h2>
                        <p>The content of every form of the NoBeJujuBeThis.com website (text, images, sounds, graphics, charts, advertisements) is purely entertaining, exclusively advisory, informative, news and advertising and concerns the provision of information, highlights and news to visitors of the website regarding their information on issues relating to their possible participation in a pre-determined or non-performing bet that is legally conducted and in any individual or group games or in any note the nature of which is suitable for conducting legal betting on their own exclusive responsibility and financial risk, and do not constitute incitement or solicitation on the part of the website for visitors to participate in gambling.</p>
                        <p>The creators, or third parties, shall in no case be liable for any positive or consequential damage to the visitor from the use of the website or the services provided through it. The authors assume the collection, processing and distribution of the content of the site, but in no way guarantee the integrity, completeness, adequacy and generally its suitability and the absence of possible errors due to its particularly large volume, as well and the participation of third parties (natural or legal persons) in the primary production and collection of content.</p>

                        <p>NoBeJujuBeThis.com does not in any way provide betting services or placement of predefined or unmatched bets..</p>

                        <p>All registered logos and trademarks on this site are the property of legitimate companies – organizations they represent. Their use is made in the context of informing the visitors of the website and under no circumstances is the appropriation of the relevant rights sought.</p>

                        <p>The NoBeJujuBeThis.com website has no responsibility for the user / member’s communication with the third-party service providers advertised on that web site and for any commercial transaction that may arise from the relationship between them.</p>

                        <p>Given the nature and volume of the internet, under any circumstances, including the case of negligence, the NoBeJujuBeThis.com website is not responsible for any form of damage to the visitor / user of the pages, services, choices and content of the website in which on its own initiative. The contents of the NoBeJujuBeThis.com site are provided “as is” without any warranty express or implied in any way.</p>

                        <p>The website NoBeJujuBeThis.com does not control the availability, content, privacy policy, quality and completeness of the services of other web sites and pages referenced by “links”, hyperlinks or banners or promotional textlinks or customized xml feeds.</p>

                        <p>onsequently, the site is not responsible for the content of external nodes that are likely to lead links included in NoBeJujuBeThis.com and for any problem encountered during their visit / use, the user must address directly to the respective web sites and pages , who are in full responsibility for the provision of their services. Creatives should in no way be deemed to embrace or accept the content or services of the web sites and the pages to which they refer or are linked to them in any other way.</p>

                        <p>Any information, distinctive symbol or verbal expression, database, software component, text, image, design, icon, sound, animation (video) and any other material displayed on the web site constitutes the intellectual property of the site or collaborating with a natural person or advertiser of a third natural or legal person and protected by the applicable intellectual property laws explicitly and unconditionally forbidden by any means or by any means use, modification, publication, transmission, distribution, sale, reproduction and exploitation by third parties.</p>

                        <p>It is forbidden to display or re-promote on the Internet even when it is accompanied by the information that the displayed item originates from that website, as well as the post-print distribution or promotion of printed material to third parties even when accompanied by the information that the item being displayed comes from that site.</p>

                        <p>The modification, publication, transmission and reproduction of a part of the website or content protected by the copyright laws is possible only if a written permission has been provided by the website or the copyright owner of the item.</p>

                        <p>In general, it is forbidden to use or republish, reproduce, copy, publish, store, sell, distribute, perform, download, translate, modify in any way, in whole or in part, the contents of the NoBeJujuBeThis.com of its services, part or all of it.</p>

                        <p>The above are included in Law 2121/1993 and the rules of International Law.</p>

                        <p>In the event that a user discovers content contrary to the above, the NoBeJujuBeThis.com website encourages him / her to communicate via the “Contact” link of this website and in any way to report it. The content to be indicated by the user will be checked and removed if necessary.</p>
                       
                       <p>All services on or atNoBeJujuBeThis.com that will be created in the future are subject to these terms of use while visiting the pages and / or using the services of this website requires full and unconditional understanding and acceptance .</p>

                       <p>All content and services of the NoBeJujuBeThis.com website are available to visitors / users strictly for personal use.</p>

                        <p>The NoBeJujuBeThis.com website reserves the right to modify the Terms of Use at any time and without prior notice and to publish them on this page. For this reason, please visit this page regularly</p>
                       
                    </div>
                    <!-- Left part start END -->
                    <!-- Right part start -->
                    <div class="col-lg-3 m-b30">
                        <div class="icon-bx-wraper bx-style-1 p-a30 center m-b15">
                            <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="dez-tilte text-uppercase">Recent Highlights</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod [...]</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-1 p-a30 center m-b15">
                            <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-building-o"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="dez-tilte text-uppercase">Recent Highlights</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod [...]</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-1 p-a20 left">
                            <div class="icon-bx-xs text-primary bg-white radius border-2 "> <a href="#" class="icon-cell"><i class="fa fa-code"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="dez-tilte text-uppercase">Content title</h5>
                                <p>Lorem ipsum dolor sit elit nonummy dolor is euismod end [...]</p>
                            </div>
                        </div>
                    </div>
                    <!-- Right part start END -->
                </div>
            </div>
            <!-- Career END -->
        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->
{% endblock %}
