{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}		
	</header>
	<!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Privacy Policy</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="section-full content-inner">
            <!-- Career -->
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-9 m-b30">
                        <h1 class="m-b20 m-t0">Welcome to Gardening's Privacy Policy </h1>
                        <div class="dez-separator bg-primary"></div>
                        <p><strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                            standard dummy text ever since the  when an unknown printer took a galley of type and scrambled it to make a 
                            type specimen book. </strong></p>
                        <h2 class="m-t30 m-b10 ">Sports Manager</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                            text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is 
                            simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                            text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h3>Our Privacy Policy </h3>
                        <ul class="list-check-circle primary">
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</li>
                            <li>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</li>
                            <li>Printer took a galley of type and scrambled it to make a type specimen book. </li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the dummy book. </li>
                            <li>Eorem ipsum dolor sit amete printing and typesetting industry. </li>
                        </ul>
                        <h2 class="m-t30 m-b10 ">Sports's Team</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                            text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply 
                            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  when an 
                            unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                            the industry's standard dummy text ever since the  when an unknown printer took a galley of type and 
                            scrambled it to make a type specimen book. </p>
                        <h3>Our Privacy Policy </h3>
                        <ul class="list-check-circle mb-0 primary">
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</li>
                            <li>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</li>
                            <li>Printer took a galley of type and scrambled it to make a type specimen book. </li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the dummy book. </li>
                            <li>Eorem ipsum dolor sit amete printing and typesetting industry. </li>
                        </ul>
                    </div>
                    <!-- Left part start END -->
                    <!-- Right part start -->
                    <div class="col-lg-3 m-b30">
                        <div class="icon-bx-wraper bx-style-1 p-a30 center m-b15">
                            <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="dez-tilte text-uppercase">Recent Highlights</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod [...]</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-1 p-a30 center m-b15">
                            <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-building-o"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="dez-tilte text-uppercase">Recent Highlights</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod [...]</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-1 p-a20 left">
                            <div class="icon-bx-xs text-primary bg-white radius border-2 "> <a href="#" class="icon-cell"><i class="fa fa-code"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="dez-tilte text-uppercase">Content title</h5>
                                <p>Lorem ipsum dolor sit elit nonummy dolor is euismod end [...]</p>
                            </div>
                        </div>
                    </div>
                    <!-- Right part start END -->
                </div>
            </div>
            <!-- Career END -->
        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->
{% endblock %}
