{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="SportsZone is an HTML5/CSS3 eCommerce template that is best for Sports Items/Tools, any kind of stores Like Sports Store, Bike and Cycle Parts, Hardware, Toos, Construction Item."/>
    <meta property="og:title" content="SportsZone - Sports Template"/>
    <meta property="og:description" content="SportsZone is an HTML5/CSS3 eCommerce template that is best for Sports Items/Tools, any kind of stores Like Sports Store, Bike and Cycle Parts, Hardware, Toos, Construction Item." />
    <meta property="og:image" content="http://sportszone.dexignlab.com/xhtml/social-image.png" />
    <meta name="format-detection" content="telephone=no">
    
    <!-- Favicons Icon -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    
    <!-- Page Title Here -->
    <title>SportsZone - Sports Template</title>

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" class="skin" href="{% static 'main_app/css/skin/skin-1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/templete.min.css' %}">

</head>
<body id="bg">
<div class="page-wrapers">
    <!-- Content -->
    <div class="page-content dez-login p-t50 p-lr15 nav">
        <div class="login-form">
            <div class="tab-content">
                <style type="text/css">
    
    .alert{
        box-shadow: 5px 5px 10px #111;
        border: none;
    }
    @keyframes show-toast {
    0%   {bottom: -100%;}
    20%  {bottom: 50px;}
    80%  {bottom: 50px;}
    100% {bottom: -10%;}
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 6s;
}
@media(max-width: 450px) {
    h3{
      font-size: 15px !important;
    }
  }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="notification is-toast alert alert-{{message.tags}} text-center" role="alert" style="background-color: #1DB954; color: #fff; border-radius: 6px; font-weight: 600; z-index: 1;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
                    <form class="p-a25 dez-form text-center text-center" action="" method="post">
                        {% csrf_token %}
                        <h3 class="form-title m-t0">Sign Up</h3>
                        <div class="dez-separator-outer m-b5">
                            <div class="dez-separator bg-primary style-liner"></div>
                        </div>
                        <p>Enter your personal details below: </p>
                        <div class="form-group">
                            <input name="first_name" required="" class="form-control" placeholder="First Name" type="text"/>
                        </div>

                        <div class="form-group">
                            <input name="last_name" required="" class="form-control" placeholder="First Name" type="text"/>
                        </div>

                        <div class="form-group">
                            <input name="email" required="" class="form-control" placeholder="Email Id" type="text"/>
                        </div>
                       
                        <label class="text-left m-b20">Enter your account details below: </label>
                        <div class="form-group">
                            <input name="username" required="" class="form-control" placeholder="User Name" type="text"/>
                        </div>
                        <div class="form-group">
                            <input name="password1" required="" class="form-control" placeholder="Password" type="text"/>
                        </div>
                        <div class="">
                            <input name="password2" required="" class="form-control" placeholder="Re-type Your Password" type="text"/>
                        </div>
                        <label class="m-b30">
                        <input type="checkbox"/>
                        <label>I agree to the <a href="#">Terms of Service </a>& <a href="#">Privacy Policy </label>
                        </label>
                        <div class="form-group text-left "> <a class="site-button outline gray" data-toggle="tab" href="#login">Back</a>
                            <button class="site-button pull-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
</div>
<!-- JavaScript  files ========================================= -->
<script src="{% static 'main_app/js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'main_app/plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'main_app/plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'main_app/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'main_app/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'main_app/plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'main_app/plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'main_app/plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'main_app/plugins/countdown/jquery.countdown.js' %}"></script><!-- COUNTDOWN JS -->
<script src="{% static 'main_app/plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'main_app/plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'main_app/plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'main_app/plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'main_app/js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->
<script src="{% static 'main_app/js/custom.min.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'main_app/js/dz.carousel.min.js' %}"></script><!-- SORTCODE FUCTIONS  -->
</body>
</html>