{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}	</header>
	<!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url({% static 'main_app/images/background/1196991616.jpg' %});">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Pricing Table</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="index.html">Home</a></li>
                    <li>Pricing Table</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <div class="content-area">
            <!-- Left & right section start -->
            <div class="container">

                <!-- Pricing table-1 Columns 4 with gap -->
                <div class="p-b30">
                    <div class="section-head">
                        <h2 class="text-uppercase">Pricing table-1 Columns 4 with gap</h2>
                    </div>
                    <div class="section-content">
                        <div class="pricingtable-row m-b30">
                            <div class="row">
                                <div class="col-12 col-md-3 col-lg-3">
                                    <div class="pricingtable-wrapper">
                                        <div class="pricingtable-inner">
                                            <div class="pricingtable-price"> <span class="pricingtable-bx">$10</span> <span class="pricingtable-type">Month</span> </div>
                                            <div class="pricingtable-title bg-primary">
                                                <h2>Basic</h2>
                                            </div>
                                            <ul class="pricingtable-features">
                                                <li><i class="fa fa-check"></i> Full Responsive </li>
                                                <li><i class="fa fa-check"></i> Multi color theme</li>
                                                <li><i class="fa fa-check"></i> With Bootstrap</li>
                                                <li><i class="fa fa-check"></i> Easy to customize</li>
                                                <li><i class="fa fa-check"></i> Many Sortcodes</li>
                                            </ul>
                                            <div class="pricingtable-footer"> <a href="#" class="site-button">Sign Up</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 col-lg-3">
                                    <div class="pricingtable-wrapper">
                                        <div class="pricingtable-inner pricingtable-highlight">
                                            <div class="pricingtable-price"> <span class="pricingtable-bx">$12</span> <span class="pricingtable-type">Month</span> </div>
                                            <div class="pricingtable-title bg-primary">
                                                <h2>Basic</h2>
                                            </div>
                                            <ul class="pricingtable-features">
                                                <li><i class="fa fa-check"></i> Full Responsive </li>
                                                <li><i class="fa fa-check"></i> Multi color theme</li>
                                                <li><i class="fa fa-check"></i> With Bootstrap</li>
                                                <li><i class="fa fa-check"></i> Easy to customize</li>
                                                <li><i class="fa fa-check"></i> Many Sortcodes</li>
                                            </ul>
                                            <div class="pricingtable-footer"> <a href="#" class="site-button">Sign Up</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 col-lg-3">
                                    <div class="pricingtable-wrapper">
                                        <div class="pricingtable-inner">
                                            <div class="pricingtable-price"> <span class="pricingtable-bx">$18</span> <span class="pricingtable-type">Month</span> </div>
                                            <div class="pricingtable-title bg-primary">
                                                <h2>Basic</h2>
                                            </div>
                                            <ul class="pricingtable-features">
                                                <li><i class="fa fa-check"></i> Full Responsive </li>
                                                <li><i class="fa fa-check"></i> Multi color theme</li>
                                                <li><i class="fa fa-check"></i> With Bootstrap</li>
                                                <li><i class="fa fa-check"></i> Easy to customize</li>
                                                <li><i class="fa fa-check"></i> Many Sortcodes</li>
                                            </ul>
                                            <div class="pricingtable-footer"> <a href="#" class="site-button">Sign Up</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 col-lg-3">
                                    <div class="pricingtable-wrapper">
                                        <div class="pricingtable-inner pricingtable-highlight">
                                            <div class="pricingtable-price"> <span class="pricingtable-bx">$23</span> <span class="pricingtable-type">Month</span> </div>
                                            <div class="pricingtable-title bg-primary">
                                                <h2>Basic</h2>
                                            </div>
                                            <ul class="pricingtable-features">
                                                <li><i class="fa fa-check"></i> Full Responsive </li>
                                                <li><i class="fa fa-check"></i> Multi color theme</li>
                                                <li><i class="fa fa-check"></i> With Bootstrap</li>
                                                <li><i class="fa fa-check"></i> Easy to customize</li>
                                                <li><i class="fa fa-check"></i> Many Sortcodes</li>
                                            </ul>
                                            <div class="pricingtable-footer"> <a href="#" class="site-button">Sign Up</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pricing table-1 Columns 4 with gap END-->
                
            </div>
            <!-- Left & right section  END -->
        </div>
    </div>
    <!-- Left & right section END -->
    <!-- Content END-->
{% endblock %}
